.cadastro-form {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    color: var(--texto-principal);
}

.cadastro-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sub-texto);
    font-size: 1.5rem;
    font-weight: bold;
    
    height: 10%;
}

.cadastro-form-inputs {
    display: flex;
    justify-content: center;

    flex-direction: column;
    gap: 10px;
    width: 60%;
    height: 65%;
    margin-top: 15px;
}


.input-usuario, .input-email {
    border-radius: 20px;
    border-style: none;
    width: 100%;
    height: 18%;
    max-height: 80px;
    padding: 10px 15px;

    background-color: var(--sub-texto);
    font-size: 1rem;
    outline: none;
}

.input-senha {
    border-radius: 20px;
    border-style: none;
    width: 100%;
    height: 18%;
    max-height: 80px;
    padding: 10px 15px;
    background-color: var(--sub-texto);
    gap: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.input-senha input {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    outline: none;
}

.cadastro-form-inputs label {
    font-size: 1.5rem;
}
.cadastro-form-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25%;
    width: 100%;
}

.cadastro-form-button button{
    transition: ease transform 0.1s;
    color: var(--texto-principal);
    background-color: var(--destaque);
    width: 50%;
    height: 55%;
    max-width: 400px;
    border-radius: 30px;
    border-style: none;
    font-size: 1.5rem;
    font-family: "k2d";
    font-weight: bold;
}

.cadastro-form-button button:hover {
    transition: ease transform 0.1s;
    transform: scale(1.03);
    cursor: pointer;
}