.modal-container {
    position: fixed;
    height: 100vh;
    width: 100vw;

    z-index: 1000;
    background-color: transparent;

    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 80%;

    min-width: 600px;
    z-index: 1001;
}

    .modal-top {
        display: flex;
        justify-content: end;
        align-items: center;

        height: 15%;
    }
