.modal-container {
    position: fixed;
    height: 100vh;
    width: 100vw;

    z-index: 1000;
    background-color: transparent;

    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(2px);
}

.modal {
    animation: modal-entrance 0.3s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 80%;
    height: 80%;
    z-index: 1001;

    background-color: var(--fundo);
    border-radius: 15px;
}

    .modal-top {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 10%;
        width: 100%;
        background-color: var(--separacao);
        border-radius: 15px 15px 0 0;
    }

       .modal-titulo {
        display: flex;
        justify-content: center;
        align-items: center;
       }

       .modal-close-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 2px;
        top: -16px;
       }

    .modal-top span {
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
        margin: 2vw;
    }

    .modal-content {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 20px;

        height: 90%;
        width: 100%;
        overflow: scroll;
    }

@keyframes modal-entrance {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}