.modal-container {
    position: fixed;
    height: 100vh;
    width: 100vw;

    z-index: 1000;
    background-color: transparent;

    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(2px);
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 80%;
    height: 80%;
    z-index: 1001;

    background-color: var(--fundo);
    border-radius: 15px;

}

    .modal-top {
        display: flex;
        justify-content: end;
        align-items: center;

        height: 15%;
        width: 100%;
    }

    .modal-top span {
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
        margin: 2vw;
    }

    .modal-content {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 85%;
        width: 100%;
    }
