.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: var(--primary-purple);
    padding: 15px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 20px 30px 0 30px; 
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-links {
    display: flex;
    flex-grow: 1; 
    justify-content: space-around;
    margin-left: 50px;
}

.nav-links a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
}

.nav-links a:hover {
    color: var(--text-muted);
}