
.my-custom-spinner {
  border: 4px solid var(--destaque);
  border-top: 4px solid var(--sub-texto); 
  border-radius: 50px;
  width: 24px;
  height: 24px;
  scale: 1.6;
  animation: spin 1s linear infinite;
  margin: auto;
}

.progressBar {
  background-color: var(--separacao);
}

.swal2-loader {
    border-color: transparent;
}

@keyframes spin {
  0% { transform: rotate(0deg); filter: opacity(100%); }
  50% { filter: opacity(70%); }
  100% { transform: rotate(360deg); filter: opacity(100%); }
}