.seletor-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.seletor-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    border-radius: 15px 15px 0 0;

    background-color: var(--separacao);
}

.seletor-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--profundidade);
    width: 100%;
    height: 90%;
}