.perfil-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: var(--fundo);

    justify-content: start;
    align-items: center;

    gap: 20px;
}

.perfil-area {
    display: flex;
    background-color: var(--profundidade);
    width: 90%;
    height: 40%;

    border: none;
    border-radius: 20px;
}

    .user-bio {
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 100%;

        justify-content: center;
        align-items: center;
    }
    .user-img {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40%;

    }

    .user-biodesc {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;

        width: 60%;
    }

    .upper-div {
        display: flex;
        height: 50%;
        width: 100%;

        justify-content: center;
        align-items: end;
    }

    .user-stats {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;

        justify-content: center;
        align-items: center;
    }
    .user-builds-container {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        
    }

        .user-builds {
            display: flex;
            width: 50%;
            height: 70%;
            
            background-color: var(--separacao);

            border-radius: 20px;
        }
            .build-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
            }

            .build-stats {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 10px 10px 0;
            
        

                width: 50%;
                height: 100%;
                font-size: clamp(0.5rem, 1.5vw, 1rem);
            }

    .lower-div {
        display: flex;
        height: 50%;
        width: 100%;

        justify-content: center;
        align-items: start;
    }
        .user-buttons {
            display: flex;
            width: 50%;
            height: 70%;
            justify-content: center;
            align-items: center;

            gap: 25px;
        }

        .user-buttons button {
            transition: ease transform 0.1s;
            width: 50%;
            height: 55%;
            max-width: 400px;
            border-radius: 30px;
            border-style: none;
            font-size: 1.5rem;
            font-family: "k2d";
            font-weight: bold;
            color: var(--texto-principal);

            font-size: clamp(0.5rem, 1.5vw, 1.5rem)
        }

        .button-sair {
            background-color: var(--separacao);
        }
        .button-editar {
            background-color: var(--destaque);       
        }

        .user-buttons button:hover {
            transition: ease filter 0.1s;
            filter: brightness(1.2);
            cursor: pointer;
        }



        


.perfil-second-area {
    display: flex;
    background-color: aqua;
    width: 90%;
    height: 40%;

    margin-top: 15px;
    justify-content: start;
    align-items: center;
    
    border: none;
    border-radius: 20px;
}

.perfil-content {
    display: flex;
    height: 100%;
    width: 100%;
}