.perfil-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: blueviolet;

    justify-content: start;
    align-items: center;

    gap: 20px;
}

.perfil-area {
    display: flex;
    background-color: blue;
    width: 90%;
    height: 40%;

    border: none;
    border-radius: 20px;
}

.perfil-second-area {
    display: flex;
    background-color: aqua;
    width: 90%;
    height: 40%;

    margin-top: 15px;
    justify-content: start;
    align-items: center;
    
    border: none;
    border-radius: 20px;
}

.perfil-content {
    display: flex;
    height: 100%;
    width: 100%;
}