.perfil-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: var(--fundo);

    justify-content: start;
    align-items: center;

    gap: 20px;
}

.perfil-area {
    display: flex;
    background-color: var(--profundidade);
    width: 90%;
    height: 40%;

    border: none;
    border-radius: 20px;
}

    .user-bio {
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 100%;

        justify-content: center;
        align-items: center;
    }
    .user-img {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50%;
        height: 60%;
    }
    .user-img img {
        border-radius: 20px;
        border-width: 10px;
        border-color: var(--destaque);
        border-style: outset;
    }

    .user-biodesc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        width: 60%;
        height: 90%;
        flex-wrap: wrap;
    }

    .user-biodesc h1 {
        margin: 0;
        padding: 0;
        font-size: clamp(1rem, 4vw, 2.2rem);

        font-weight: bold;
    }

    .user-biodesc p {
        font-size: clamp(1rem, 1.6vw, 1.2rem);
        text-align: start;
        text-wrap: wrap;
    }

    .upper-div {
        display: flex;
        height: 50%;
        width: 100%;

        justify-content: center;
        align-items: end;
    }

    .user-stats {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;

        justify-content: center;
        align-items: center;
    }
    .user-builds-container {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        
    }

        .user-builds {
            display: flex;
            width: 50%;
            height: 80%;
            
            background-color: var(--separacao);

            border-radius: 20px;
        }
            .build-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
            }

            .build-stats {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            
                width: 50%;
                height: 100%;
                padding: 10px;
            }
                .build-stats p {
                    margin: 0;
                    padding: 0;
                    font-size: clamp(0.8rem, 1.5vw, 1rem);
                }
                .build-stats h2 {
                    margin: 0;
                    padding: 0;
                    font-size: clamp(1rem, 1.5vw, 1.8rem);
                }

    .lower-div {
        display: flex;
        height: 50%;
        width: 100%;

        justify-content: center;
        align-items: start;
    }
        .user-buttons {
            display: flex;
            width: 50%;
            height: 70%;
            justify-content: center;
            align-items: center;

            gap: 25px;
        }

        .user-buttons button {
            transition: ease transform 0.1s;
            width: 50%;
            height: 55%;
            max-width: 400px;
            border-radius: 30px;
            border-style: none;
            font-size: 1.5rem;
            font-family: "k2d";
            font-weight: bold;
            color: var(--texto-principal);

            font-size: clamp(0.5rem, 1.5vw, 1.5rem)
        }

        .button-sair {
            background-color: var(--separacao);
        }
        .button-editar {
            background-color: var(--destaque);       
        }

        .user-buttons button:hover {
            transition: ease filter 0.1s;
            filter: brightness(1.2);
            cursor: pointer;
        }



.perfil-edit {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    text-align: center;
    justify-content: start;
    align-items: center;
}

.perfil-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;


    gap: 15px;
    width: 100%;
}

.perfil-form label {
    font-size: 1.2rem;
    font-weight: bold;
} 

.perfil-form input {
    border-radius: 20px;
    border-style: none;
    width: 100%;
    height: 60px;
    max-height: 80px;
    padding: 10px 15px;

    background-color: var(--sub-texto);
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    outline: none;
}

.perfil-form textarea {
    border-radius: 20px;
    border-style: none;
    width: 100%;
    height: 25vh;
    max-height: 300px;
    padding: 10px 15px;

    background-color: var(--sub-texto);
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    outline: none;
    resize: none;
}

.perfil-edit-buttons {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 10px;
    margin-top: 10px;
    width: 100%;
    height: 10%;
} 

.perfil-excluir-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.button-salvar, .button-cancelar, .button-excluir {
    transition: ease transform 0.1s;
    color: var(--texto-principal);
    width: 60%;
    height: 80%;
    max-width: 400px;
    border-radius: 30px;
    border-style: none;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    font-family: "k2d";
    font-weight: bold;
}
.button-salvar {
    background-color: var(--destaque);
}
.button-cancelar {
    background-color: var(--separacao);
}
.button-excluir {
    transition: ease all 0.3s;
    background-color: var(--sub-texto);
    color: black;
}

.button-salvar:hover, .button-cancelar:hover, .button-excluir:hover {
    transition: ease filter 0.1s;
    filter: brightness(1.2);
    cursor: pointer;
}

.button-excluir:hover {
    transition: ease all 0.3s;
    background-color: #d33;
    color: white;
}

.perfil-second-area {
    display: flex;
    background-color: aqua;
    width: 90%;
    height: 40%;

    margin-top: 15px;
    justify-content: start;
    align-items: center;
    
    border: none;
    border-radius: 20px;
}

.perfil-content {
    display: flex;
    height: 100%;
    width: 100%;
}